.read-more {
    color: black !important;
    background: #fffc00 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #fffc00) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #fffc00) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contact-address i {
    color: rgba(255,235,22) !important;
}
.p-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
