.socials {
    text-align: center;
    margin-top: 20px;
}
.sertificate .owl-next, 
.sertificate .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}
.sertificate .owl-next {
    right: 10px;
}
.sertificate .owl-prev {
    left: 10px;
}
svg {
    fill: #000;
    height: 60px;
}
@media only screen and (max-width:768px){
    .info > h4 {
        margin-top: 20px;
    }
    .sertificate .owl-next {
        right: 35px;
    }
    .sertificate .owl-prev {
        left: 35px;
    }
}
