.socials {
    text-align: center;
    margin-top: 20px;
}
.sertificate .owl-next, 
.sertificate .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}
.sertificate {
    width: 60%;
    margin: 0 auto;
}
.sertificate > img {
    width: 100%;
}
.sertificate .owl-next {
    right: 10px;
}
.sertificate .owl-prev {
    left: 10px;
}
svg {
    fill: #000;
    height: 60px;
}
@media only screen and (max-width:768px){
    .info > h4 {
        margin-top: 20px;
    }
    .sertificate .owl-next {
        right: 35px;
    }
    .sertificate .owl-prev {
        left: 35px;
    }
}
form {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width: 60%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.list-graduates {
    padding-inline-start: 0px;
}
.list-graduates > li {
    padding: 10px;
    box-shadow: 0px 1px 4px rgba(0,0,0, .5);
    border-radius: 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; */
            margin-bottom: 20px;
}
@media (max-width:992px){
    .list-graduates > li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    }
    .list-graduates > li > span {
        margin-bottom: 20px;
    }
    .list-graduates > li > span:nth-child(2){
        max-width: 100% !important; 
    }
}
.list-graduates > li >  span {
    margin-left: 45px;
    position: relative;
    z-index: 9;
}
.list-graduates > li > span:nth-child(1){
    min-width: 80px;
}
.list-graduates > li > span:nth-child(2){
    min-width: 100px;
}
.list-graduates > li > span:nth-child(3){
    min-width: 410px;
    max-width: 410px;
    text-align: justify;
}
.month {
    color: #fff;
}
.month:before {
    position: absolute;
    content: "";
    background-image: url(../img/month_arrow.png);
    width: 125px;
    background-position: 43px;
    height: 25px;
    left: -59px;
    background-repeat: no-repeat;
    z-index: -1;
}
.list-graduates > li > .anchors > a {
    margin-left: 50px;
} 
.list-graduates > li > .anchors > a:last-child {
    margin-left: 40px;
}
.list-graduates > li > span:first-child {
    margin-left: 0px;
}
.list-graduates > li > span:nth-child(2){
    max-width: 28%;
}
.list-graduates > li > .anchors > .inactive > button{
    cursor: not-allowed;
    background-image: none;
    background-color: #313A3D;
}
.list-graduates > li > .anchors > a > button {
    background-color: #fdc830;
    background-image: -webkit-gradient(linear, left top, right top, from(#fdc830), to(#f37335));
    background-image: -webkit-linear-gradient(left, #fdc830, #f37335);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#696df3', endColorStr='#a200ff', gradientType='1');
    border-radius: 50rem;
    color: #fff;
    padding: 5px 30px;
    border: none;
}
/* form input[type="submit"] {
    background-color: #fdc830;
    background-image: -webkit-gradient(linear, left top, right top, from(#fdc830), to(#f37335));
    background-image: -webkit-linear-gradient(left, #fdc830, #f37335);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#696df3', endColorStr='#a200ff', gradientType='1');
    color: #fff;
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
} */
/* input[type="text"] {
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
    border: 1px solid #fdc830;
    padding: 0px 25px;
} */
.names {
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-bottom: 0px;
}
.names li {
    margin-left: 90px;
}
.names li:last-child {
    margin-left: 105px;
}
.names li:first-child {
    margin-left: 0px;
}
@media (max-width:992px){
    .list-graduates > li > span:nth-child(3) {
        width: 100%;
        max-width: unset !important;
        text-align: center !important;
    }
    .list-graduates > li > span {
        margin-left: 0px;
    }
    .list-graduates > li > span:nth-child(1) {
        min-width: 70px;
        width: 100%;
    }
}
@media (max-width:1200px){
    .list-graduates > li > span:nth-child(1){
        min-width: 70px;
    }
    .list-graduates > li > span:nth-child(2){
        min-width: 60px;
    }
    .list-graduates > li > a > button {
        padding: 5px 20px;
    }
    .list-graduates > li > span:nth-child(3){
        min-width: 250px;
        max-width: 250px;
        text-align: justify;
    }
    .list-graduates > li > a {
        margin-left: 50px;
    } 
    .names li {
        margin-left: 80px;
    }
}
@media (max-width:992px){
    .names {
        display:none;
    }
}
#name, #surname , #email , #number  {
    border-radius: 50rem;
    border: 1px solid #FD9638;
    padding: 5px 25px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}